# Nix
result
result-*

# Docker building
*.tar.gz
*.tar

# Haskell Stack
.stack-work/

# Haskell Cabal (sandbox)
.cabal-sandbox/
cabal.sandbox.config
dist/

# Haskell Cabal (newtyle)
.ghc.environment.*
cabal.project.local
dist-newstyle/

# Python
*.egg-info/
__pycache__/
*.pyc

# Tags
cscope.out
GPATH
GRTAGS
GTAGS
tags
TAGS

# Direnv
.direnv/

# Emacs Org-mode Export
*~
