# Nix
result
result-*

# Docker building
*.tar.gz

# Haskell Stack
.stack-work/

# Haskell Cabal (sandbox)
.cabal-sandbox/
cabal.sandbox.config
dist/

# Haskell Cabal (newtyle)
cabal.project.local
dist-newstyle/

# Tags
/tags
/TAGS
